
<div style="text-align: center; padding: 10px 0;">
  <!-- Professional verification provided by Psychology Today -->
  <a href="https://www.psychologytoday.com/profile/1408270" class="sx-verified-seal"></a>
  <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="17" data-id="1408270" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy8xNy9wcm9maWxlLzE0MDgyNzA/Y2FsbGJhY2s9c3hjYWxsYmFjaw=="></script>
</div>
  <!-- End V
