---
---
@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";
body .masthead {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 125;
}
body {
  padding-top: 70px;
}
.page__title,
.page__lead {
  text-align: center !important;
}
.page__content {
  max-width: 700px !important;
  margin: 0 auto !important;
}
.page__content p {
  text-align: justify;
}
.spaced-image {
  margin-bottom: 80px !important;
}
.bordered-image {
  border: 2px solid #999999 !important;
  padding: 8px !important;
  border-radius: 4px !important; 
}
.archive__item {
  display: flex;
  flex-direction: column;
}
.archive__item-teaser {
  flex: 0 0 200px !important;
  height: auto !important;
  overflow: visible !important;
  float: none !important;
  margin: 0 auto 30px auto !important;
}
.archive__item-teaser img {
  border: 2px solid #999999;
  padding: 4px !important;
  border-radius: 4px !important;
  object-fit: contain !important;
  width: 100%;
  height: auto !important;
  max-height: none !important;
  position: static !important;
}
