---
---
@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

body .masthead {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 100;
}

body {
  padding-top: 70px;
}
.page__title,
.page__lead {
  text-align: center;
}


