---
---
@import "minimal-mistakes/skins/default";
@import "minimal-mistakes";

body .masthead {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 125;
}

body {
  padding-top: 70px;
}
.page__title,
.page__lead {
  text-align: center !important;
}

.page__content {
  max-width: 700px !important;
  margin: 0 auto !important;
}
.page__content p {
  text-align: justify;
}
